.form {
  margin-top: 100px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.input {
  width: 180px;
  height: 30px;
}

.button {
  padding: 0 10px;
  border: none;
  background-color: rgb(196, 90, 24);
  border-radius: 4px;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover {
  background-color: rgb(200, 99, 21);
  box-shadow: 0 0 20px rgba(230, 121, 3, 0.822);
}
